

.btn-primary {
	background-color: #5d405c;
  border: none;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #f7f7f7;

 
  }

  .btn-check:focus+.btn-primary, .btn-primary:focus,  .btn-primary:hover { 
    background-color: #8dd471;
    border-color: #8dd471;
    box-shadow: 0 0 0 0.25rem rgb(0 0 0 /1%);

  }


  .modalcenter{
    background-color: #8dd471;
    font-family: "Montserrat";
    text-align: center; 
    font-size: 20px;
    color:#5d405c;
    font-weight:700;  
   
  }

  
  .modaltitle{
    font-family: "Montserrat";
    font-size: 50px;
    color:#5d405c; 
    font-weight:700;

  }

  .textfilter{
    margin-left:13px;
  }

  .modalbackground {
    background-color: #CEC6CE;
  }

  .modal-header {
    border-bottom: none;
  }

  .modal-footer {
    background-color: #CEC6CE;
    border-top: none;
  }